@font-face { 
  font-family: 'a_LCDNova'; 
  src: url('/fonts/a_lcdnova.ttf')  format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}

body {
    position: relative;
	background-color: #00979c;
}

#wrap {
    text-align: center;
    height: 100vh;
}

h1 {
	font-family: 'a_LCDNova', arial;
    text-align: center;
    vertical-align: top;
    line-height: normal;
	font-size: 4vh!important;
	color: black!important;
	margin-bottom: 4vh;
}
h1 span {
	border-bottom: yellow solid 2px;	
}
#three {
	width: 250px;
	height: 250px;
	background-color: black;
    border: yellow solid 3px;
}
#three>canvas {
	margin: 0;
}
canvas {
	margin: 0 5px;
}
#menu {
    position: absolute; 
    font-size: 24px;
    right: 25px;
    top: 10px;
/*     color: #333; */
}

#menu .btn {
    display: inline-block;
    margin-left: 10px;
    width: 64px;
    height: 67px;
/*     opacity: 0.1; */
}

#menu .btn:hover {
    cursor: pointer;
/*     opacity: 0.5; */
}

#menu .btn-fullscreen           { background-image: url('chrome-extension://__MSG_@@extension_id__/img/desktop_000000_32.png'); }
#menu .btn-connection           { background-image: url('chrome-extension://__MSG_@@extension_id__/img/svetofor_red.png'); }
#menu .btn-connection.connected { background-image: url('chrome-extension://__MSG_@@extension_id__/img/svetofor_green.png'); }
/*#menu .btn-connection.connected { background-image: url('chrome-extension://__MSG_@@extension_id__/img/link_000000_32.png'); }*/

#menu .btn-settings             { background-image: url('chrome-extension://__MSG_@@extension_id__/img/cog_000000_32.png'); }
#menu .btn-about                { background-image: url('chrome-extension://__MSG_@@extension_id__/img/amperka_000000_32.png'); }

#menu.light .btn-fullscreen           { background-image: url('chrome-extension://__MSG_@@extension_id__/img/desktop_ffffff_32.png'); }
#menu.light .btn-connection           { background-image: url('chrome-extension://__MSG_@@extension_id__/img/svetofor_red.png'); }
#menu.light .btn-connection.connected { background-image: url('chrome-extension://__MSG_@@extension_id__/img/svetofor_green.png'); }
#menu.light .btn-settings             { background-image: url('chrome-extension://__MSG_@@extension_id__/img/cog_ffffff_32.png'); }
#menu.light .btn-about                { background-image: url('chrome-extension://__MSG_@@extension_id__/img/amperka_ffffff_32.png'); }

.popup {
    display: none;
    position: absolute;
    padding: 10px;
    bottom: 120px;
    left: 10px;
    background-color: white;
    font-size: 15px;

    border: 2px solid black;
    border-radius: 10px;
}
#error {
    bottom: 180px;
    left: 10px;	
}
#about {
    width: 250px;
}

table.form input {
    padding: 3px;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 15px;
}

table.form table {
    width: 100%;
}

table.form th,
table.form td {
    padding: 5px 3px;
}

table.form th {
    text-align: left;
    white-space: nowrap;
    font-weight: normal;
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Мигание картинки */
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink_image {
#	width: 72%;

    -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
    animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
.blink_image img {
	visibility: hidden;	
}
.ondisplay ul li {
	visibility: hidden;
}
.ondisplay section {
	margin-top: -15px;
}
/* .slide */
.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7 {
  width: 80px;
  height: 30px;
  background: #333;
  margin: 10px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slide1:after, .slide2:after, .slide3:after, .slide4:after, .slide5:after, .slide6:after, .slide7:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  height: 2px;
  width: 52px;
  background: #111;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slide1 label, .slide2 label, .slide3 label, .slide4 label, .slide5 label, .slide6 label, .slide7 label {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  z-index: 1;
  left: 4px;
  background: #fcfff4;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
.slide1 label:after, .slide2 label:after, .slide3 label:after, .slide4 label:after, .slide5 label:after, .slide6 label:after, .slide7 label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 6px;
  background: #333;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
}
.slide1 input[type=checkbox], .slide2 input[type=checkbox], .slide3 input[type=checkbox], .slide4 input[type=checkbox], .slide5 input[type=checkbox], .slide6 input[type=checkbox], .slide7 input[type=checkbox] {
  visibility: hidden;
}
.slide1 input[type=checkbox]:checked + label, .slide2 input[type=checkbox]:checked + label, .slide3 input[type=checkbox]:checked + label, .slide4 input[type=checkbox]:checked + label, .slide5 input[type=checkbox]:checked + label, .slide6 input[type=checkbox]:checked + label, .slide7 input[type=checkbox]:checked + label {
  left: 54px;
}
.slide1 input[type=checkbox]:checked + label:after, .slide2 input[type=checkbox]:checked + label:after, .slide3 input[type=checkbox]:checked + label:after, .slide4 input[type=checkbox]:checked + label:after, .slide5 input[type=checkbox]:checked + label:after, .slide6 input[type=checkbox]:checked + label:after, .slide7 input[type=checkbox]:checked + label:after {
  background: #27ae60;
}
select, input, button {
	font-size: 18px;
}